/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

.brand-logo img {
  height: 65px;
  width: 65px;
}

.brand-logo {
  height: 65px;
  width: 65px;
}


nav {
  background-color: #1a237e;
}

img.homepage-image {
  height: 400px;
  width: 700px;
}

body {
  background-color: #eeeeee;
}

div.row {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

div.col div {
  background-color: white;
  font-family: Arial;
}

.title {
  text-align: center;
}

form.button_to {
  display: inline;
}

div.content {
  padding: .5px 10px 10px 10px;
}

label {
  font-size: large;
  color: black;
}

input[type=submit] {
    padding:5px 15px;
    background-color: #2196f3;
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.error {
  color: #e53935;
}

select.inline {
  width: 80px;
  display: inline;
  background-color: #eeeeee;
}
